footer {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: $gap-large;
  width: $width;
  margin: $margin auto;
  background: $dark-blue;
  color: $white;
  min-height: 400px;
  padding: $padding-large;
  border-radius: $box-radius;
  overflow: hidden;
  .logo {
    @include rotate(20);
    min-width: 42%;
    min-height: 125%;
    opacity: .03;
    position: absolute;
    left: -1%;
    top: 0;
    bottom: 0;
    margin: auto;
    filter: invert(1);
  }
  .footer-links ul,
  .social-links {
    list-style: none;
    display: flex;
    gap: $gap-large;
  }
  .footer-links {
    li {
      @include small-headers;
    }
  }
  .social-links {
    .social-link {
      height: 20px;
      display: inline-block;
      img {
        height: 100%;
      }
    }
  }
  .social-link,
  .footer-links li {
    transition: $transition;
    &:hover {
      opacity: .6;
    }
  }
}
@include respond-to-max($desktop) {
  footer {
    width: $width-medium;
    margin: $margin-medium;
  }
}
@include respond-to-max($tablet) {
  footer {
    align-items: center;
  }
}
@include respond-to-max($mobile) {
  footer {
    width: $width-small;
    margin: $margin-small;
  }
}