.landing-section {
	position: relative;
  height: 100vh;
  width: 100vw;
  min-height: 600px;
  @include flex-center;
  overflow: hidden;
  background: $dark-blue;
  .inner {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
    font-size: 1em;
    padding: $padding-large;
    .text {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: $gap;
      max-width: 800px;
      &.lottie {
        max-width: unset;
      }
      img {
        width: 450px;
      }
    }
    * {
      color: $white;
    }
     p {
     	max-width: 600px;
     }
		.buttons {
			display: flex;
			gap: $gap;
		}
  }
  .background {
  	position: absolute;
    height: 100vh;
    width: 100vw;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black; /* Adjust the overlay color as needed */
        opacity: 0; /* Default opacity if not defined in CMS */
        z-index: 1; /* Adjust the z-index if needed to control overlay stacking */
    }
  }
  &.series {
    .inner {
      gap: $gap-large;
      .can-container {
        margin: unset;
        height: 90%;
        max-height: 700px;
      }
      .text {
        gap: $gap;
        text-align: left;
        max-width: 500px;
        align-items: flex-start;
        p {
          max-width: 400px;
          margin-left: $margin-small;
        }
        img {
          max-height: 180px;
        }
      }
    }
  }
}