.landing-section {
	position: relative;
  height: 100dvh;
  width: 100vw;
  min-height: 600px;
  @include flex-center;
  overflow: hidden;
  background: $dark-blue;
  .inner {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
    font-size: 1em;
    padding: $padding-large;
    .text {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: $gap;
      max-width: 800px;
      &.lottie {
        max-width: unset;
      }
      img {
        width:80%;
        max-width:450px;
      }
    }
    * {
      color: $white;
    }
     p {
     	max-width: 600px;
     }
		.buttons {
			display: flex;
			gap: $gap;
		}
  }
  .background {
    top: 0;
  	position: absolute;
    height: 100%;
    width: 100%;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0;
      z-index: 1;
    }
  }
  &.series {
    .inner {
      gap: $gap-large;
      .can-container {
        margin: unset;
        height: 90%;
        max-height: 700px;
        .can-video,
        .can-image {
          height: 100%;
          width: 100%;
          video,
          img,
          picture {
            height: inherit;
            max-height:600px;
            max-width:350px;
          }
        }
      }
      .text {
        gap: $gap;
        text-align: left;
        max-width: 500px;
        align-items: flex-start;
        p {
          max-width: 400px;
          margin-left: $margin-small;
        }
        img {
          max-height: 180px;
        }
      }
    }
  }
  &.contact {
    .text {
      max-width: unset;
      .buttons {
        flex-wrap: wrap;
        justify-content: center;
      }
      .btn {
        background: $white;
        color: $dark-blue;
      }
    }
  }
  &.the-mothership {
    .inner img {
      width: unset;
    }
  }
  &.our-awards {
    height: unset;
    max-height: unset;
    .arrow {
      background: $white !important;
      svg * {
        fill: $dark-blue !important;
      }
    }
    .inner .text p {
      max-width: 650px;
    }
  }
  @include respond-to-max($desktop) {
    &.series {
      .inner .can-container {
        height: 75%;
        max-height: 500px;
        max-width: 250px;
      }
      .inner .text {
        img {
          max-height: 120px;
          width: unset;
        }
        p {
          width: 100%;
          max-width: unset;
          margin-left: unset;
        }
      }
    }
    .text.lottie {
      width: 100%;
    }
    .inner {
      padding: $padding;
    }
  } // end $desktop
  @include respond-to-max($tablet) {
    &.series {
      .inner {
        padding: $padding-medium;
        padding-bottom: $padding-large;
      }
    }
  } // end $tablet
  @include respond-to-max($mobile) {
    &.series {
      height: unset;
      .inner .can-container {
        max-height: 600px;
        max-width: 350px;
      }
      .inner .text img {
        max-width: 90%;
        position: absolute;
        top: 85px;
        right: 0;
        left: 0;
        margin: auto;
        max-height: 100px;
      }
      .inner .text p {
        text-align: center;
      }
      .inner {
        flex-direction: column;
        padding: $padding-small;
        padding-top: 230px;
      }
    }
    .inner {
      padding: $padding-small;
    }
  } // end $mobile
} // end landing-section
