.grid.location {
  .grid-item {
    min-height: 250px;
    div {
      gap: $gap;
      display: flex;
      flex-direction: column;
    }
    .arrow {
      background: $white;
      position: relative;
      z-index: 1;
      svg * {
        fill: $dark-blue;
      }
    }
    &.random .inner {
      height: 100%;
      width: 100%;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(5) {
      background: $dark-blue;
      * {
        color: $white;
      }
    }
    &:nth-child(1) {
      grid-row: span 2;
    }
    &:nth-child(2) {
      a {
        display: flex;
        gap: 8px;
      }
      img {
        width: 80px;
        display: inline-block;
      }
    }
    &:nth-child(2),
    &:nth-child(3) {
      grid-row: span 1;
        grid-column: span 1;
    }
    &:nth-child(4),
    &:nth-child(5) {
        grid-row: span 1;
    }
    &:nth-child(5) {
      p {
        max-width: 300px;
      }
    }
    &:nth-child(7) {
        grid-column: span 2;
        min-height: 500px;
    }
  }
  @include respond-to-max($desktop-large) {
    grid-template-columns: repeat(2, 1fr);
    .grid-item{
      &:nth-child(6) {
        grid-column: span 2;
      }
    }
  }
  @include respond-to-max($tablet) {
    grid-template-columns: 1fr;
    .grid-item {
      grid-column: span 2 !important;
      &:nth-child(1) {
        min-height: 400px;
        img {
          height: 50%;
        }
      }
    }
  }
}