// color---------------------------------------
$black: #262626;
$white: #fff;
$gray: #E9E9E9;
$dark-blue: #292F32;
$light-blue: #32373A;
$dark-green: #7C8962;
$light-green: #8B9B70;
$gold: #F4C017;

// sizing---------------------------------------
$width: calc(100vw - 100px);
$width-medium: calc(100vw - 60px);
$width-small: calc(100vw - 40px);
$max-width: 1450px;

// shapes---------------------------------------
$circle: 75px;
$radius: 15px;

// transitions----------------------------------
$ease: cubic-bezier(0.23, 1, 0.32, 1);
$transition-short: .1s $ease;
$transition: .28s $ease;
$transition-medium: .5s $ease;
$transition-long: .8s $ease;

// type-----------------------------------------
$base: 'nexa', helvetica, sans-serif !important;

// shadows--------------------------------------
$text-shadow: 0px 1px 2px rgba($black, 0.1);
$box-shadow: 0px 15px 50px rgba($black, .2);

// grid-----------------------------------------
$margin-large: 100px;
$margin: 60px;
$margin-medium: 30px;
$margin-small: 20px;
$padding-large: 100px;
$padding: 45px;
$padding-medium: 30px;
$padding-small: 20px;
$gap-large: 40px;
$gap: 20px;
$gap-small: 10px;
$scroll-padding-left: calc((100vw - $max-width) / 2);

// element heights------------------------------
$min-box-height: 700px;

// radius---------------------------------------
$box-radius: 10px;

//breakpoints----------------------------------
$mobile-small: 375px;
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$desktop-large: 1200px;
$desktop-xlarge: 1500px;
$desktop-xxlarge: 1920px;
$desktop-xxxlarge: 2200px;
$scroll-padding: 1550px;