{% extends "index" %}

{% block content %}
	<div class="landing-section error">
	    <div class="inner center-center">
	        <div class="text">
		          <h1>How'd you get here?!</h1>
		          <p>This page doesn't exist.</p>
							<a style="margin-top:10px;" href="melvinbrewing.com" class="btn border">Go home</a>
	        </div>
	    </div>
	</div>
{% endblock %}